label {
  position: relative;
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.checkbox {

  width: 15px;
  height: 15px;
  position: absolute;
  top: 5px;
  left: 0;
  border-radius: 10px;
  border: 1px solid red;

  &.not-checked {
    background-color:white;
  }

  &.is-checked {
    background-color: green;
  }

}

input[type="checkbox"] {
  width: 15px;
  height: 15px;
  opacity: 0;
  margin-right: 5px;
}
