label {
  position: relative;
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.checkbox {

  width: 15px;
  height: 15px;
  position: absolute;
  top: 5px;
  left: 0;
  border-radius: 10px;
  border: 1px solid $darkGreen;
  @include box-shadow-dark-green-small;

  &.aria-focus:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }

  &.not-checked {
    background-color: $lightGreen;
  }

  &.is-checked {
    background-color: $normalGreen;
  }

}

input[type="checkbox"] {
  // width: 15px;
  // height: 15px;
  // opacity: 0;
  // margin-right: 5px;

  width: 13px;
  height: 13px;
  margin-right: 5px;
  margin-left: 1px;
  margin-top: 1px;
}
