label {
  position: relative;
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.checkbox {

  width: 15px;
  height: 15px;
  position: absolute;
  top: 5px;
  left: 0;
  border-radius: 10px;
  border: 1px solid $darkGreen;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  @include box-shadow-dark-green-small;

  &.aria-focus:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5)
  }

  &.not-checked {
    background-color: $lightGreen;
  }

  &.is-checked {
    background-color: $normalGreen;
  }

}

input[type="checkbox"] {
  width: 14px;
  height: 14px;
  margin-right: 5px;
  margin-left: 1px;
  margin-top: 2px;
  opacity: 0;
}
