// COLOR
$grayColor: #C7CBD6;
$grayColorAlpha: rgba(199, 203, 214, 0.749);
$darkPurple: #494CA2;
$normalPurple: #8186D5;
$medPurple: #AAAED1;
$lightPurple: hsl(233, 56%, 86%);
$darkerGreen: #154442;
$darkGreen: #206663;
$normalGreen: #319692;
$lightGreen: #98CAC8;
$white: #FFF;

// CONTENT
$shadowPosition: 0px 4px 0px 0px;
