@import '../../assets/scss/variables.scss';
@import '../../assets/scss/mixin.scss';

header {

  padding: 25px;
  border: 1px solid $grayColor;
  border-radius: 8px;
  margin-bottom: 40px;
  @include box-shadow-gray;

  .main-header-description {
    font-size: 18px;
  }

  .csp-breakdown-text-area {
    padding: 0;
    border: 0;
    font-size: 18px;
    margin-bottom: 10px;
  }

  button {

    &.btn-primary {
      color: $white;
      background-color: $normalGreen;
      border: 1px solid $darkGreen;
      width: 120px;
      padding: 10px 5px;
      border-radius: 8px;
      @include box-shadow-dark-green;
      float: left;

      &:hover {
        background-color: $darkGreen;
      }

    }

  }

  .re-import-checkbox-container {
    margin: 10px 0 0 14px;
    float: left;
  }
  
}
